@import "tailwindcss";


:root {
  /* === 色 === */
  --color-primary: #2A8ED9;
  --color-white: #ffffff;
  --color-black: #333333;
  --color-gray-dark: #8E8E8E;
  --color-gray: #C1C1C1;
  --color-gray-light: #EAEBEB;
  --color-gray-more-light: #F4F6F8;

  /* === シャドウ === */
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-white: var(--color-white);
  --color-black: var(--color-black);
  --color-gray-dark: var(--color-gray-dark);
  --color-gray: var(--color-gray);
  --color-gray-light: var(--color-gray-light);
  --color-gray-more-light: var(--color-gray-more-light);
}

/* ダークモード対応は未定
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--color-gray-more-light);
  color: var(--color-black);
}

.shadow-base {
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.1);
}